<h1 id="python-wordle">Python Wordle</h1>
<p>Wordle Game in Python</p>
<hr>
<h2 id="installation-of-libaries">Installation of Libaries</h2>
<p><a href="https://pypi.org/project/Random-Word/">RandomWord</a>  <code>pip install random-word</code></p>
<p><a href="https://www.nltk.org/install.html">Wordnet</a></p>
<h2 id="setup">Setup</h2>
<ul>
<li>Choose between single player and multiplayer mode.</li>
<li>Choose the number of letters you wish to have in your word.</li>
</ul>
<h3 id="multiplayer-mode">Multiplayer Mode</h3>
<ul>
<li>Enter the names of the players</li>
<li>The programe will randomise who to go first</li>
</ul>
<h2 id="how-to-play-our-wordle">How to Play OUR Wordle</h2>
<ul>
<li>Each guess must be a valid word.</li>
<li>The color of a tile will change to show you how close your guess was.</li>
<li>If the tile turns green, the letter is in the word, and it is in the correct spot.<ul>
<li>If the tile turns yellow, the letter is in the word, but it is not in the correct spot.</li>
</ul>
</li>
<li>If the tile turns gray, the letter is not in the word.</li>
</ul>
<h2 id="winning">Winning</h2>
<ul>
<li>Once you have guessed the word, it will ouput all your guess. </li>
</ul>